.upload-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/src/assets/img/fondo.jpeg'); /* Asegúrate de que la ruta sea correcta */
  background-size: cover;
  background-position: center;
}

.upload-container {
  background-color: rgba(0, 0, 0, 0.7); /* Color con transparencia */
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

input[type="file"] {
  margin-top: 1rem;
  display: block;
  width: 100%;
}

button[type="submit"] {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.cancel-button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-button:hover {
  background-color: #d32f2f;
}