.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/src/assets/img/fondo.jpeg');
    background-size: cover;
    background-position: center; 
    padding-top: 70px; 
    box-sizing: border-box; 
    backdrop-filter: blur(5px);
  }
  
  .welcome-message {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }
  
  .welcome-message img {
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .welcome-message h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .welcome-message h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .welcome-message p {
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 600px;
    margin: auto;
  }