.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/src/assets/img/fondo.jpeg');
    background-size: cover;
    background-position: center; /* Asegúrate de que el fondo esté centrado */
    padding-top: 70px; /* Ajusta según la altura del header y navbar */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho y alto */
  }
  
  .welcome-message {
    text-align: center;
    color: white;
  }
  
  .welcome-message img {
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  .welcome-message h1 {
    font-size: 3rem;
  }
  
  .welcome-message h2 {
    font-size: 2.5rem;
    margin-top: 0;
  }
  
  .welcome-message p {
    font-size: 1.5rem;
  }