.footer {
    background-color: #0B132A;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: white;
}
.footer-logo img {
    height: 50px;
    margin-bottom: 20px;
}
.footer-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
}
.footer-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
.footer-link .icon {
    margin-right: 8px;
}

.footer-copy {
    font-size: 0.9rem;
    color: #ccc;
}