.modal-content {
    background-color: #fff;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    max-height: 70vh;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow-y: hidden;
    color: #333;
    position: relative;
    margin-left: 10px;
}



.modal-content h3 {
    margin-top: 0;
    text-align: center;
    font-size: 1.8rem;
    color: #007bff;
}

.employee-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.employee-item:hover {
    background-color: #f9f9f9;
}

.employee-item:last-child {
    border-bottom: none;
}

.employee-item button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}

.employee-item button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.search-input {
    width: 100%;
    padding: 12px;
    border: 2px solid #007bff;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #0056b3;
    outline: none;
}

.employee-list {
    list-style: none;
    padding: 0;
}

.order-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.order-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 14px;
}

.order-buttons button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-buttons button:hover {
    background-color: #0056b3;
}

.order-buttons .icon {
    margin-right: 5px;
}


.table-container {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    border-collapse: collapse;
}


.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #007bff;
    color: white;
    position: sticky;
    top: 0; 
    z-index: 0;
}

.table tr:hover {
    background-color: #f9f9f9;
}

.table .info-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.table .button-container {
    text-align: center;

}

.table .info-button:hover {
    background-color: #0056b3;
}

