.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    color: #333;
}

/* Nueva clase para la lista de empleados */
.scrollable-list {
    max-height: 400px;
    /* Ajusta esta altura según lo que necesites */
    overflow-y: auto;
    /* Habilita el scroll vertical */
}

.modal-content h3 {
    margin-top: 0;
    text-align: center;
    color: #333;
}

.employee-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    color: #333;
}

.employee-item:last-child {
    border-bottom: none;
}

.employee-item button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.employee-item button:hover {
    background-color: #0056b3;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.search-input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.employee-list {
    list-style: none;
    padding: 0;
}

.employee-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employee-item:last-child {
    border-bottom: none;
}

.employee-item strong {
    color: #007bff;
}


.order-buttons {
    display: flex;
    /* Para colocar los botones uno al lado del otro */
    gap: 10px;
    /* Espacio entre los botones */
    justify-content: center;
    /* Centrar los botones */
    margin-bottom: 20px;
    /* Espacio inferior */
}

.order-buttons button {
    background-color: #007bff;
    /* Color del botón */
    color: white;
    /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    /* Bordes curvados del botón */
    padding: 5px 8px;
    /* Espaciado pequeño para que sean botones pequeños */
    cursor: pointer;
    transition: background-color 0.3s;
    /* Transición suave */
    font-size: 14px;
    /* Tamaño de fuente más pequeño */
}

.order-buttons button:hover {
    background-color: #0056b3;
    /* Color al pasar el ratón */
}

.order-buttons .icon {
    margin-right: 5px;
    /* Espacio entre el ícono y el texto */
}