* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-title {
    color: #095e59;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1; /* Esto asegurará que el título ocupe el espacio central */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #fff;
    margin: 0 15px; /* Reducir el espaciado entre enlaces */
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-link .icon {
    margin-right: 5px;
}

.nav-link:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.dropdown-menu {
    display: block;
    position: absolute;
    background-color: #fff;
    color: #000000a2;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    top: 30px; /* Asegura que el menú esté debajo del botón */
}

.dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #00000096;
    display: block;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #ddd;
}

.icon-user {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px; /* Posiciona el icono de usuario en la esquina derecha */
}

.user-menu {
    position: absolute;
    right: 10px; /* Ajusta según sea necesario */
    top: 50px; /* Para que esté justo debajo del ícono */
    background-color: #fff;
    color: #0000006e;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
}

.user-menu-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    display: block;
    cursor: pointer;
}

.user-menu-item:hover {
    background-color: #075d8f80;
}

.navbar {
    position: relative;
    z-index: 10;
    background-color: #0002117a;
    height: auto;
    padding: 10px 0; /* Reducir el padding vertical */
}

.navbar-image img {
    height: 70px; /* Ajusta el tamaño si es necesario */
    max-height: 100%;
    object-fit: contain;
    margin-right: 20px; /* Espacio entre la imagen y el título */
}

.navbar-icon-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}
